
body div {
  border-color: grey;
  border-style: solid;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

#container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 60vh;
  width: 40vh;
}

#display {
  height: 10vh;
  display: flex;
  flex-direction: column;
}

#display > div {
  text-align: right;
  flex-grow: 1;
  flex-shrink: 1;
}

.row {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.row > div {
  width: 25px;
  flex-grow: 1;
  flex-shrink: 1;
}